<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
     
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" class="nav-link d-flex" style="flex-direction: column!important;">
            <i class="fa fa-star"></i>
            <span class="d-none d-sm-inline">Favourites</span>
        </a>
          
        </li>
        <li>
          <a href="#" class="nav-link d-flex" style="flex-direction: column!important;">
            <i class="fa fa-star"></i>
            <span class="d-none d-sm-inline">Actions</span>
        </a>
          
        </li>
   
      </ul>

     
      <form class="navbar-form navbar-right" role="search" style="padding: 6px;">
              <div class="input-group">
                      <div class="input-group-btn search-panel"  >
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color: #e7e7e7 !important;border-top-left-radius: 5px;border-bottom-left-radius: 5px;">
                            <span id="search_concept"> All</span>  <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#contains"> <span class="glyphicon glyphicon-envelope text-danger"></span> Email</a></li>
                            <li><a href="#its_equal"> <span class="glyphicon glyphicon-music text-warning"></span> Music</a></li>
                            <li><a href="#greather_than"> <span class="glyphicon glyphicon-user text-success"></span> Users</a></li>
                            <li><a href="#less_than"><span class="glyphicon glyphicon-book text-primary"></span> Books </a></li>
                            <li class="divider"></li>
                            <li><a href="#all"> <span class="glyphicon glyphicon-picture text-info"></span> Pictures</a></li>
                          </ul>
                      </div>
                      <input type="hidden" name="search_param" value="all" id="search_param">         
                      <input type="text" class="form-control" name="x" placeholder="Search term..." style="background-color: #e7e7e7 !important;">
                      <span class="input-group-btn">
                          <button class="btn btn-default" type="button" style="background-color: #e7e7e7 !important;border-top-right-radius: 5px;border-bottom-right-radius: 5px;"><span class="glyphicon glyphicon-search"></span></button>
                      </span>
                  </div>
      </form>
    
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<div>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="background-color: #337ab7;color: #fff;"><i class="fa fa-th-large"></i> Tele-Sales</a>
         
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav nav-tbs">
               
          <li role="presentation"><a href="#">Home</a></li>
          <li role="presentation"><a href="#">Getting Started</a></li>
          <li role="presentation"><a href="#">Calls</a></li>
          <li role="presentation"><a href="#">Contacts</a></li>
          <li role="presentation" class="active"><a href="#">Leads</a></li>
          <li role="presentation"><a href="#">Oppurtunities</a></li>
          <li role="presentation"><a href="#">Tasks</a></li>
          <li role="presentation"><a href="#">Recordings</a></li>
          <li role="presentation"><a href="#">Transcriptions</a></li>
          <li role="presentation"><a href="#">Dashboard</a></li>
          <li role="presentation"><a href="#">Reports</a></li>
          <li role="presentation"><a href="#">Calendars</a></li>
          <li role="presentation"><a href="#">Forecasts</a></li>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
  
  
       
     
      
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

</div>






<div class="container">

<div class="row">
  <div class="col-md-12" style="margin:0 auto;">
<div class="panel panel-default" style="margin-top:40px;">
  
  <div class="panel-heading" style="background-color: transparent !important;">

    <div class="row">
      <div class="col-md-4">
        <div style="display: inline;">
          <div>
        <div class='box'></div>
      </div>
      <div style="margin-left:55px;">
        <p style="font-size:small;">Leads</p>
        <p style="font-size:large;">Recently Viewed</p>
      </div>
      </div>
      </div>
      <div class="col-md-1 pull-right">
        <button class="btn btn-primary">New</button>
      </div>
    </div>
    <p style="font-size: x-small;">O items . Updated A Few Seconds Ago</p>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12" style="padding-left: 0% !important;padding-right: 0% !important;">
        <table class="table table-striped" datatable [dtOptions]="dtOptions" style="border: none;">
          <thead>
            <tr>
              <th><input type="checkbox" class="custom-control-input" id="customCheck1"></th>
              <th>  Name</th>
              <th>Title</th>
              <th>Company</th>
              <th>Phone</th>
              <th>Mobile</th>
              <th>Email</th>
              <th>Load Status</th>
              <th>Owner Alias</th>
            </tr>
          </thead>
          <tbody>
           <tr *ngFor="let group of data">
            <td></td>
                 <td>{{group.name}}</td>
                 <td>{{group.title}}</td>
                 <td>{{group.company}}</td>
                 <td>{{group.phone}}</td>
                 <td>{{group.mobile}}</td>
                 <td>{{group.email}}</td>
                 <td>{{group.loadstatus}}</td>
                 <td>{{group.owner}}</td>
             </tr>
          </tbody>
        </table>
     
      </div>
    </div>
  </div>

</div>
</div>
</div>
</div>

